body{
    background-color: blueviolet;
}
.menu{
    width:90% ;
    height: 3rem;
    background-color: aliceblue;
    margin-top: 3rem;
    margin-left:5%;
    box-shadow: 2px 2px 2px  black;
}

ol{
    height: 100%;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 8rem;

}
a{
    text-decoration: none;
    padding: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: blue;
    
}
nav{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
   
}
#avartar img{
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
 position: relative;
 left: 14.5rem;
 top: 0.2rem;
 box-shadow: 1px 1px 1px black;
}
#logo img{
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
 position: relative;
 top: 0.2rem;
 left: 4rem;
}
#login{
  background-color:blue;
  color: white;
  width: 5rem;
  position: relative;
  left: 15rem;
  height: 2.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px black;
}
#login:hover{
  background-color:blueviolet;
  border-radius: 0.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}
.page_info{
    width:90% ;
    height: 32rem;
    background-color: aliceblue;
    margin-left:5%; 
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px black;
}
.page_name{
    height:32rem;
    width:45%;
}
.page_name h2,p{
    
    text-transform: uppercase;
    margin-left: 8rem;
    margin-top: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}
.buy{
        height: 3rem;
        width: 6rem;
        text-transform:capitalize;
        background-color: #ecebeb;
        margin-left: 8rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
        box-shadow: 1px 1px black;
        color: black;
        white-space: nowrap;
}
.buy:hover{
    background-color:blueviolet ;
    color: white;
    transition: 1s ease-in-out;
    border-radius: 7px;
    font-weight: bold;
    
}
.welcome_brief{
    margin-top:-3rem;
    font-size: small;
}
.video img{
    height:24rem;
    width:35rem;
    background-color:tomato ;
    margin-top: 3rem;
    border-radius: 5px;
}

.log{
  display: none;
  height:30rem;
  width:25rem;
background-color:#f32b2b;
border-radius: 10px;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
animation: fade 1s;
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.l2{
  height: auto;
  width: 25rem;
}


form {
  height:28rem;
  width:25rem;
    position: relative;
    
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .cancelbutn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    position: relative;
    bottom:2rem;
  }
  .cancelbtn:hover {
    background-color: #04AA6D;
    border-radius: 10px;
    transition: ease-in-out 1.5s;
    font-weight: bolder;
  }
  .cancelbutn:hover {
    background-color: #04AA6D;
    border-radius: 10px;
    transition: ease-in-out 1.5s;
    font-weight: bolder;
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    height: 5rem;
  }
  
  /* Avatar image */
  img.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  span.new {
    float: right;
    position: relative;
    bottom: 2rem;
    text-transform: capitalize;
    
  }
  .new_acc {
    float: right;
    position: relative;
    bottom: 1rem;
    left: 1rem;
    text-transform: capitalize;
    
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  